<h3>Create a new list</h3>

<%= simple_form_for [@list] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="form-input">
    <%= f.input :name, placeholder: "Add a new name" %>
  </div>
  <div class="form-actions">
    <%= f.submit "Create a list", class: "btn btn-primary" %>
  </div>
<% end %>
